{% extends 'base.html.twig' %}

{% block body %}
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1 class='text-center mb-5'>Cataloge of products</h1>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {% if products is not null  %}
               {% for product in products  %}
                   <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                             {% if product.images|length > 0 %}
                            <img class="card-img-top" width='450px' height='200px'  src="http://localhost:8000/uploads/{{product.images[0].name}}" alt="..." />
                            {% else %}
                            <img class="card-img-top" width='450px' height='200px' src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">
                                    {{ product.name }}
                                        </h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill">{{product.Category.name }}</div>
                                    </div> 
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill">  
                                        {% for sizes in product.tshirtSizes %}
                                                {{ sizes.name }}
                                            {% endfor %}</div>
                                          {% for sizes in product.shoesSizes %}
                                                {{ sizes.name }}
                                            {% endfor %}
                                    </div>
                                    <!-- Product price-->
                                    {# <span class="text-muted text-decoration-line-through">$20.00</span> #}
                                    {{ product.price }} €
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>       
               {% endfor %}

               {% else %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">No products found</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
          

                    
                </div>
            </div>
        </section>

        <script>

    window.onload = function() {
        var categ = document.querySelector('#form_categorie');
        
    categ.addEventListener("change",function(e) {
        var form = this.closest('form');
        var value =  parseInt(this.value);
        var data = this.name + '=' + value;
        fetch(form.action,{
            method: 'POST',
            body: data,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
            }
        }).then(function(response) {
            return response.text();
        }).then(function(html) {
            var content = document.createElement('html');
            content.innerHTML = html;
            if(value === 1){
            if(document.querySelector("#form_shoes") != null){
                document.querySelector("#form_shoes").remove()
            } 
            var nouveau = content.querySelector('#form_tshirt');
            } else{
                if(document.querySelector("#form_tshirt") != null){
                document.querySelector("#form_tshirt").remove()
            } 
            var nouveau = content.querySelector('#form_shoes');
            }
        
            if(nouveau !== null){
            document.querySelector('#form_categorie').after(nouveau);
            }
            
        });


        })
   
    } // form_Sizes
    
</script>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Maxi tshirt & shores 2022</p></div>
        </footer>
{% endblock %}
