<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href={{path('app_index')}}>MAXI TSHIRT & SHOES</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href={{path('app_index')}}>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href={{path('app_index_about')}}>About</a></li> 
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                    <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        {% if is_granted('ROLE_USER')%}
                            <a class="btn btn-outline-dark" href="{{ path('app_profil') }}">
                                <i class="bi-user-circle-fill me-1"></i>
                                Profil
                             </a>
                             <a class="btn btn-outline-dark" href="{{ path('app_logout') }}">
                                <i class="bi-user-circle-fill me-1"></i>
                                logout
                             </a>

                        {% elseif  is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-outline-dark" href="{{ path('app_backOff') }}">
                                <i class="bi-user-circle-fill me-1"></i>
                                BackOffice
                             </a>
                             <a class="btn btn-outline-dark" href="{{ path('app_logout') }}">
                                <i class="bi-user-circle-fill me-1"></i>
                                logout
                             </a>
                        {% else %}
                            <a class="btn btn-outline-dark" href="{{ path('app_login') }}">
                                <i class="bi-user-circle-fill me-1"></i>
                                Login
                             </a>
                        {% endif %}
                        
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Maxi tshirt & shoes</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Find the best tshirt & shoes</p>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
           <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Maxi tshirt & shores 2022</p></div>
        </footer>
    </body>
</html>
